<span class="icon-pluse-span"></span>

<style>
  .icon-pluse-span {
    display: block;
    position: relative;
    height: 10px;
    width: 10px;
  }
  .icon-pluse-span::after,
  .icon-pluse-span::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    background-color: rgb(var(--color-foreground));
  }
  .icon-pluse-span::after {
    rotate: 90deg;
    top: calc(50% - -1px);
    left: calc(50% - 13px);
  }
  .icon-pluse-span::before {
    top: 50%;
    left: 50%;
  }
  summary > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
</style>
