<span class="icon-pluse-span"></span>

<style>
  .icon-pluse-span {
    position: relative;
  }
  .icon-pluse-span::after,
  .icon-pluse-span::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(var(--color-foreground));
  }
  .icon-pluse-span::after {
    rotate: 45deg;
  }
  .icon-pluse-span::before {
    rotate: -45deg;
  }
</style>
