<span class="icon-pluse-span"></span>

<style>
  .icon-pluse-span {
    position: relative;
  }
  .icon-pluse-span::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
