:root{
--font-heading-family: "Big Caslon Medium", "sans-serif";
--font-body-family:"";

--color-foreground:
--color-background-contrast: 
--color-shadow:
--color-button: 
--color-button-text:
--color-secondary-button:
--color-secondary-button-text:
--color-link:
--color-badge-foreground: 
--color-badge-background:
--color-badge-border:
--payment-terms-background-color: 
}
