/* component-cart-count-bubble */
.cart-count-bubble:empty {
  display: none;
}

.cart-count-bubble {
  position: absolute;
  background-color: transparent;
  color: rgb(var(--color-text));
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  bottom: 18%;
  line-height: calc(1 + 0.1 / var(--font-body-scale));
  transition: color 0.3s ease-in-out;
}
